*text=auto

# forse text
*.html=text
*.js=text
*.html=text

# Windows files (need CRLF)
*.sln text eol=crlf
*.bat eol=crlf

# Unix files (need LF)
*.sh eol=lf

#binary files
*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
